body {
	font-family: 'Century Gothic';
	font-size: 15px;
}

strong {
	color: #CC0000;
}

.content {
	display: flex;
	justify-content: center;
}

hr {
	border: 0px;
	border-top: 1px solid #CCC;
	height: 1px;
	width: 600px;
}


/* Title */

#title {
	display: flex;
	justify-content: center;
	font-family: Miami;
	font-size: 75px;
}

@font-face {
	font-family: 'Miami';
	src: url('fonts/Miami.ttf');
}


/* Dice */

.diceContainer {
	border: 0px solid #666;
}

.dice {
	border: 0px solid #666;
}


/* Points table */

.table {
	border-spacing: 1px;
}

.option {
	height: 50px;
	width: 85px;
	text-align-last: center;
	border: 1px solid #CCC;
}

.divide {
	border: 1px solid #CCC;
}


/* Borders */

.top {
	border-top: 0px;
}

.left {
	border-left: 0px;
}


/* Buttons */

.button {
	height: 100%;
	width: 100%;
	background: none;
	border: 0px;
	font-family: 'Century Gothic';
	font-size: 17px;
	color: #CCC;
	outline: 0px;
}

.button:hover {
	box-shadow: inset 0px 0px 5px #CCC;
	color: #CC0000;
}

.button:disabled {
	box-shadow: inset 0px 0px 0px #FFF;
	color: #333;
}