.randomClass1
{
  color:yellow;
  font: "Fantasy";
  font-size: 40px;
}
.randomClass2
{
  color:green;
  font: "Charcoal";
  font-size: 20px;
}
.randomClass3
{
  color:red;
  font: "Fantasy";
  font-size: 35px;
}
.randomClass4
{
  color:pink;
  font: "Verdana";
  font-size: 25px;
}
.randomClass5
{
  color:blue;
  font: "Comic Sans MS";
  font-size: 45px;
}
