body {
  background-image: url("images/logo_white_transp.png");
  background-color: #E0E1E6;
}

h1, h2, small {
  font-family: sans-serif;
  text-align: center;
  color: rgba(1,167,189,1.00);
}

p, a {
  font-family: sans-serif;
  font-size: 0.8em;
}

small {
  font-size: 0.6em;
}

a {
  color: rgba(1,167,189,1.00);
}

a:hover {
  color: rgba(2, 133, 150,1.00);
  text-shadow: 0.02em 0.02em 0.02em #5A585E;
}

.error {
  color: tomato;
}

.box {
  position: absolute;
  background-color: #FFF;
  padding: 2em;
  border-radius: 4px;
  box-shadow: 2px 2px 2px #5A585E;

}

.loginbox {
  top: 20vw;
  left: 35%;
  width: 15em;
}

.registerbox {
  top: 10vw;
  left: 35%;
  width: 20em;
}

#loginbtn {
  float: right;
}
