table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
}
img {
  padding: 5px;
}
.header {
  text-align: center;
  color: red;
  text-shadow: 2px 2px #ff0000;
}
