table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
}
img {
  padding: 5px;
}
.header {
  text-align: center;
  color: red;
  text-shadow: 2px 2px #ff0000;
}
p {
  color: rgb(79, 40, 64);
  background-color: rgb(0,255,0);
  text-align: center;
}
