form {
	display: flex;
	justify-content: center;
}

input[type="text"] {
	height: 40px;
	border: 1px solid #DDD;
	margin: auto;
}

.button {
	width: 50px;
	height: 50px;
	margin: auto;
	border-radius: 5px;
	border: 1px solid;
	border-color: #DDD;
	background: #FFF;
}

.button:hover {
	border-color: #FF9900;
}

.button:active {
	border-color: #FF9900;
	background: #FFEECC;
}

.text {

}